@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'JetBrains Mono', monospace;
    @apply text-neutral-50
}

a {
    text-decoration: underline;
    @apply hover:text-neutral-400
}

.nuxt-content ul {
    list-style-type: disc;
    @apply text-lg;
}

.nuxt-content h3 {
    @apply text-2xl;
    @apply font-extrabold;
    @apply mt-8;
}

/* .nuxt-content h3:first-child {
    @apply mt-0;
} */

.nuxt-content p {
    @apply text-lg;
}
/* p {
    font-family: 'Work Sans', sans-serif;
} */